
extends ../layouts/default.jade

include ../mixins/collection.jade

block content
    div.container-fluid.px-5
        div.row
            div.col-md-12
                div.search-results-scroll-area
                    div.clearfix
                    if collections.length === 0
                        div.text-center.pt-5
                            i
                                | Nothing to show. Perhaps you need to
                                a(href='/submit')  submit
                                | something first?
                    else
                        div.search-results
                            each collection in collections
                                +collection-item(collection)









