mixin editables()
    div#allForms(style="display:none")
        div#editablePlan
            div.tab-content
                form(method='post',enctype='multipart/form-data', action=uri + "/edit")#constructForm
                    div.row
                        div.col-md-12
                            div.form-group-100.required
                                div
                                    label(for="agent") Lab Protocol Used 
                                    a(title='Lab Protocols are documents that contain a description of the steps performed in the lab. Using this checkbox, you can either create a new Lab Protocol, which will require you to give the protocol a name, and to upload a file e.g. a word document that describes it. You can also leave the checkbox blank, and use any of the already existing protocols.')
                                            span.fa.fa-info-circle
                                    input(type="checkbox", style='margin-left:50px', data-toggle='collapse', data-target='.collapseForm', id="ast1", name="plan_submission_type[]")
                                    |  Create a new Lab Protocol
                    div.row
                        div.col-md-12
                            div.form-group-100.required
                                .collapseForm.panel-collapse.collapse.show
                                    .panel-body
                                    select.form-control(name='plan1', id="plan1")
                                            option(value='', selected='selected') Choose an existing Lab Protocol
                                            for plan in plans
                                                option(value=[plan.uri, plan.name]) #{plan.name}
                                            
                    div.row
                            .collapseForm.panel-collapse.collapse
                                .panel-body
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', href='#collapse')
                                    div.card.w-100
                                        div.card-header
                                            div.col-md-12
                                                        <b>Please upload a file describing the lab protocol</b>
                                        
                                        div.form-group-100.required
                                            input.form-control(name='plan2',id="plan2",placeholder='The name of the lab protocol used to build the design.', value=plan2)
                                        
                                        #collapse.panel-collapse
                                            .panel-body
                                                div.row
                                                    div.col-md-12
                                                            div.row
                                                                    div.col
                                                                        div.input-group
                                                                            label.input-group-btn
                                                                                span.btn.btn-primary
                                                                                    | Select file(s)&hellip;
                                                                                    input(type="file",name="file")
                                                                            input(type="text",class="form-control",readonly)
                                                                    div.col-xs-3
                    div.row
                        div.col-md-12
                            button(type='submit').btn.btn-primary.btn-lg Submit