
extends ../layouts/topLevel.jade

include ../mixins/blast-button.jade

block topLevelIcon
    span.topLevelIcon.fa.fa-bars

block topLevelPreview
    div.row
        div.col-md-12
            div.sbh-sequence
                div.sbh-sequence-title
                    div.float-right
                        +blast-button(sequence)
                    | Sequence (#{sequence.elements.length} #{sequence.lengthUnits})
                div.sbh-sequence-body
                    pre #{formatted}

